In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df=pd.read_csv(r"C:\Users\hp\Desktop\Dataset\Admission Predict.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [27]:
X=df.iloc[:,1:8]
print(X)
Y=df.iloc[:,8]
print(Y)
Y.shape

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]
0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

(400,)

# Cleaning of data

In [28]:
df.shape

(400, 9)

In [29]:
print('Missing values in column:' )
df.isnull().sum()

Missing values in column:

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

# Normalization

In [30]:
l1=[]
for i in range(400):
    m1=max(X.iloc[:,0])
    m2=min(X.iloc[:,0])
    f=(X.iloc[i,0]-m2)/(m1-m2)
    l1.append(f)
l2=[]
for i in range(400):
    m1=max(X.iloc[:,1])
    m2=min(X.iloc[:,1])
    f=(X.iloc[i,1]-m2)/(m1-m2)
    l2.append(f)
l3=[]
for i in range(400):
    m1=max(X.iloc[:,2])
    m2=min(X.iloc[:,2])
    f=(X.iloc[i,2]-m2)/(m1-m2)
    l3.append(f)
l4=[]
for i in range(400):
    m1=max(X.iloc[:,3])
    m2=min(X.iloc[:,3])
    f=(X.iloc[i,3]-m2)/(m1-m2)
    l4.append(f)
    
l5=[]
for i in range(400):
    m1=max(X.iloc[:,4])
    m2=min(X.iloc[:,4])
    f=(X.iloc[i,4]-m2)/(m1-m2)
    l5.append(f)
    
l6=[]
for i in range(400):
    m1=max(X.iloc[:,5])
    m2=min(X.iloc[:,5])
    f=(X.iloc[i,5]-m2)/(m1-m2)
    l6.append(f)
    
l7=[]
for i in range(400):
    m1=max(X.iloc[:,6])
    m2=min(X.iloc[:,6])
    f=(X.iloc[i,6]-m2)/(m1-m2)
    l7.append(f)

l8=[]    
for i in range(400):
    m1=max(Y)
    m2=min(Y)
    f=(Y.iloc[i]-m2)/(m1-m2)
    l8.append(f)
x=pd.DataFrame([l1,l2,l3,l4,l5,l6,l7])
x=x.transpose()

In [31]:
print(l3)

[0.75, 0.75, 0.5, 0.5, 0.25, 1.0, 0.5, 0.25, 0.0, 0.5, 0.5, 0.75, 0.75, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 1.0, 1.0, 0.25, 0.0, 0.25, 0.25, 0.5, 0.75, 1.0, 1.0, 1.0, 0.25, 0.0, 0.0, 0.25, 0.5, 0.25, 0.25, 0.75, 1.0, 1.0, 1.0, 1.0, 0.5, 0.75, 0.5, 0.25, 0.75, 0.75, 0.5, 0.5, 0.5, 0.25, 0.0, 0.25, 0.25, 0.5, 0.25, 0.25, 0.5, 0.75, 0.5, 0.25, 0.5, 0.75, 1.0, 1.0, 1.0, 0.75, 0.5, 0.25, 0.5, 0.25, 0.25, 0.0, 0.5, 0.75, 1.0, 1.0, 1.0, 0.75, 0.5, 0.25, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.5, 0.75, 0.25, 0.5, 0.75, 0.5, 0.5, 0.25, 0.25, 0.25, 0.5, 0.5, 0.75, 0.75, 1.0, 1.0, 1.0, 0.75, 0.5, 0.25, 0.5, 0.75, 0.5, 0.75, 0.25, 1.0, 1.0, 1.0, 0.75, 0.5, 0.75, 0.5, 0.5, 0.5, 0.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.75, 0.5, 0.25, 0.25, 0.0, 0.25, 0.25, 1.0, 0.75, 0.25, 0.25, 0.5, 0.5, 0.75, 0.25, 0.75, 1.0, 1.0, 0.5, 0.5, 0.5, 0.5, 0.25, 0.25, 0.0, 0.0, 0.0, 0.5, 0.5, 0.75, 1.0, 0.5, 0.5, 0.25, 0.25, 0.25, 1.0, 0.75, 0.75, 0.75, 0.75, 0.75, 0.5, 0.5, 0.5, 0.5, 0.25, 0.25, 0.5, 0.25, 0.75, 0.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.5, 0.25, 0.25, 0.25, 0.5, 0.5, 0.5, 0.25, 1.0, 1.0, 0.5, 0.25, 0.25, 0.5, 0.25, 0.5, 0.75, 0.75, 0.75, 1.0, 0.75, 1.0, 0.75, 0.75, 0.75, 0.5, 0.5, 0.5, 0.75, 0.25, 0.25, 0.25, 0.25, 0.25, 0.5, 0.75, 0.5, 0.5, 0.25, 0.25, 1.0, 1.0, 0.75, 1.0, 0.5, 0.0, 0.0, 0.25, 0.5, 0.5, 0.25, 0.75, 0.5, 0.25, 0.5, 0.5, 0.5, 0.25, 0.25, 0.75, 0.75, 0.75, 0.5, 0.5, 0.75, 0.75, 1.0, 0.5, 0.25, 0.5, 0.25, 0.5, 0.25, 0.5, 0.75, 0.75, 0.25, 0.25, 0.0, 0.0, 0.0, 0.5, 1.0, 0.25, 0.25, 0.25, 0.5, 0.5, 0.5, 0.5, 0.75, 1.0, 1.0, 1.0, 0.75, 0.5, 0.25, 0.25, 0.25, 0.0, 0.25, 0.25, 0.5, 0.5, 0.5, 0.5, 0.25, 0.25, 0.25, 0.5, 0.25, 0.5, 0.5, 0.75, 0.5, 0.75, 0.5, 0.75, 0.75, 0.5, 0.25, 0.25, 0.25, 0.0, 0.5, 0.75, 0.5, 0.5, 0.25, 0.25, 0.5, 0.5, 0.5, 0.25, 0.75, 0.25, 0.5, 0.25, 0.5, 0.5, 0.75, 0.75, 0.5, 1.0, 1.0, 1.0, 0.5, 0.5, 0.5, 0.25, 0.25, 0.0, 0.25, 0.0, 0.0, 0.5, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25, 0.5, 0.25, 0.25, 0.25, 0.5, 0.75, 1.0, 0.25, 0.5, 0.75, 0.5, 0.0, 0.0, 0.0, 0.25, 0.5, 0.75, 0.5, 0.25, 0.25, 0.25, 0.0, 0.0, 0.0, 0.5, 0.5, 0.75, 0.5, 0.75, 1.0, 0.25, 0.25, 0.25, 0.5, 0.25, 0.5, 0.75, 0.25, 0.75, 0.5, 0.5, 0.75, 0.5, 0.75]

# MSE OF TRAIN & TRAIN ERROR

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [33]:
X_train,X_test,Y_train,Y_test=train_test_split(x,Y,test_size=0.2,random_state=155)

In [34]:
model=LinearRegression()

In [35]:
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# ACCURACY

In [36]:
model.score(X_test,Y_test)

0.8416575117246198

In [37]:
Y_pred=model.predict(X_test)
Y_pred_train=model.predict(X_train)

In [38]:
mean_squared_error(Y_test,Y_pred)

0.003158930166992458

In [39]:
mean_squared_error(Y_train,Y_pred_train)

0.004215503825188857

# Error by 2nd method

In [40]:
mse=np.mean((Y_test-Y_pred)**2)
print("The mean absolute error is =",mse)

The mean absolute error is = 0.0031589301669924575

In [41]:
mse=np.mean((Y_train-Y_pred_train)**2)
print("The mean absolute error is =",mse)

The mean absolute error is = 0.004215503825188854

# PREDICTION

In [42]:
model.predict(X_test)

array([0.78853784, 0.64930792, 0.66989602, 0.93834079, 0.84541259,
       0.56172311, 0.77112206, 0.57270708, 0.89658193, 0.64904266,
       0.85790381, 0.81145064, 0.59730894, 0.61738494, 0.83293211,
       0.90321761, 0.64858232, 0.74709536, 0.64720517, 0.75807356,
       0.54412374, 0.68093055, 0.68705397, 0.70483279, 0.99360302,
       0.6679226 , 0.82674788, 0.77536896, 0.6997951 , 0.49960117,
       0.66749723, 0.64248894, 0.88520854, 0.95842157, 0.81217727,
       0.70098371, 0.57789528, 0.52750527, 0.94940645, 0.60044453,
       0.80916254, 0.90112217, 0.51099758, 0.78967551, 0.8107302 ,
       0.43279219, 0.6455453 , 0.6963769 , 0.9478107 , 0.52038615,
       0.67450046, 0.43133124, 0.64901893, 0.89941433, 0.67283204,
       0.8580986 , 0.73505027, 0.87215618, 0.79983614, 0.67951875,
       0.46799897, 0.72659383, 0.78479639, 0.85471222, 0.68595265,
       0.71286662, 0.82400831, 0.68132286, 0.92539089, 0.88330158,
       0.69859923, 0.64330052, 0.60465737, 0.67602918, 0.73378031,
       0.53586022, 0.8398415 , 0.93285034, 0.60709887, 0.55333723])

In [43]:
x=pd.DataFrame([l1,l3,l4,l5,l6])
x=x.transpose()
print(x)

        0     1      2      3         4
0    0.94  0.75  0.875  0.875  0.913462
1    0.68  0.75  0.750  0.875  0.663462
2    0.52  0.50  0.500  0.625  0.384615
3    0.64  0.50  0.625  0.375  0.599359
4    0.48  0.25  0.250  0.500  0.451923
..    ...   ...    ...    ...       ...
395  0.68  0.50  0.625  0.625  0.717949
396  0.70  0.50  0.500  0.625  0.740385
397  0.80  0.75  1.000  0.875  0.849359
398  0.44  0.50  0.625  0.750  0.634615
399  0.86  0.75  1.000  0.750  0.916667

[400 rows x 5 columns]

In [44]:
x.shape

(400, 5)

In [45]:
Y.shape

(400,)

In [46]:
x.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [47]:
x.head()

      0     1      2      3         4
0  0.94  0.75  0.875  0.875  0.913462
1  0.68  0.75  0.750  0.875  0.663462
2  0.52  0.50  0.500  0.625  0.384615
3  0.64  0.50  0.625  0.375  0.599359
4  0.48  0.25  0.250  0.500  0.451923